modules = ["java-19", "java-17"]

[nix]
channel = "stable-24_05"
packages = ["unzip", "mongodb", "maven"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "build-bot"

[[workflows.workflow]]
name = "build-bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn package -DskipTests"

[deployment]
run = ["sh", "-c", "cd . && mvn package -DskipTests"]
