modules = ["java-19", "java-17"]

[nix]
channel = "stable-24_05"
packages = ["unzip", "mongodb", "maven"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "build-bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "run-bot"

[[workflows.workflow]]
name = "build-bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn package -DskipTests"

[[workflows.workflow]]
name = "run-bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && mvn exec:java -Dexec.mainClass=\"com.deadside.bot.Main\""

[deployment]
run = ["sh", "-c", "cd . && mvn package -DskipTests"]

[[ports]]
localPort = 8080
externalPort = 80
